@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira:700");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
/* clip-path: polygon(32% 0, 51% 65%, 69% 0, 100% 0, 74% 100%, 30% 100%, 1% 0); */
/* 221e3f */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  background-image: url("../img/sitebg.jpg");
  height: 100vh;
  background-size: cover;
  margin-top: -30rem;
}

/* navigation mobile start */
/* .navigation {
	background-color: #221e3f;
	width: 100vw;
	height: 25vh;
} */

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#221e3f, #685cc5);
  box-shadow: 0 1rem 3rem rgba(#000, 0.1);
  z-index: 1000;
  transition: all 1s;
  /* transform: scale(80); */
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__link {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.2s;
}

.navigation__link:hover {
  color: #255784;
  transition-delay: 1.5s;
  background: white;
  box-shadow: 0 0 1rem white, 0 0 4rem white, 0 0 8rem white;
}

.navigation__link span {
  position: absolute;
}

.navigation__link span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: 0.6s;
  transition-delay: 0.4s;
}

.navigation__link span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.5s;
}

.navigation__link span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: 0.8s;
  transition-delay: 0.6s;
}

.navigation__link span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.9s;
  transition-delay: 0.9s;
}

.navigation__item {
  margin: 1rem;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
  margin-left: 2rem;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* navigation mobile end */
.navbar nav {
  width: 97vw;
  justify-content: center;
  align-items: center;
  height: 7rem;
  opacity: 0.6;
}

.navbar header nav ul li a {
  position: relative;
  display: block;
  font-size: 2.3rem;
  padding: 1.5rem 3rem;
  font-family: "Roboto", sans-serif;
  color: #2196f3;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  letter-spacing: 0.2rem;
  transition: 0.2s;
}

.navbar header nav ul li a:hover {
  color: #255784;
  /* background: white; */
  /* box-shadow: 0 0 1rem white, 0 0 4rem white, 0 0 8rem white; */
  transition-delay: 1s;
}

.navbar header nav ul li a span {
  position: absolute;
  display: block;
}

.navbar header nav ul li a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.navbar header nav ul li a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.navbar header nav ul li a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.navbar header nav ul li a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.navbar header nav ul li a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.navbar header nav ul li a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.navbar header nav ul li a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.navbar header nav ul li a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/* nav end */
.navbar header .lgo {
  color: #221e3f;
  margin-left: 20rem;
  margin-top: 30rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.lgo h1 {
  background: linear-gradient(
    to bottom,
    #ebf1f6 0%,
    #abd3ee 50%,
    #859ee2 51%,
    #d5ebfb 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb', GradientType=0);
  /* IE6-9 */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6em;
  margin-top: 11rem;
  position: absolute;
  text-transform: uppercase;
  z-index: 2;
}

h1:after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5),
    3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85),
    1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -3;
}

h2:before {
  content: " ";
  position: absolute;
  top: -3em;
  left: 3rem;
  width: 11em;
  height: 12.7em;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-size: 11.5em;
  width: 100%;
  z-index: -2;
  transform: rotate(15deg);
}

.lgo h2 {
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5),
    2px 1px 2px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85),
    1px -2px 0 rgba(255, 255, 255, 0.8);
  color: rgb(255, 0, 234);
  font-size: 4em;
  transform: rotateZ(-15deg);
  position: absolute;
  font-family: "Courgette", cursive;
  margin-top: 5.5em;
}
.photo__container {
  position: relative;
  width: 30em;
  height: 30em;
  left: 120em;
  top: 30em;
  border: 4px solid #221e3f;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #2d2758cb, 
  5px 5px 15px rgba(0, 0, 0, 0.5);
}
.photo__container::before{
  content: '';
  position: absolute;
  background: transparent;
  width: 99%;
  height: 99%;
  left:2px;
  border-radius: 50%;
  box-shadow: inset -5px -5px 5px #26214c,
  inset 5px 5px 5px rgb(45,39,77);
 
}



.photo__container img {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  left:1.5em;
  top:1.5em;
}
.about {
  background-image: url("../img/sitebg2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about img {
  width: 300px;
  height: 300px;
  margin-left: 140rem;
}

.about-me-info {
  max-width: 90rem;
  height: 30rem;
  background-color: #221e3f;
  box-shadow: 10px 12px 28px 9px rgba(0, 0, 0, 0.74);
  padding: 5rem;
  position: relative;
  top: 15rem;
  left: 60%;
  right: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.about-me-info p {
  color: gray;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.about h3 {
  color: gray;
  margin-left: 58rem;
  margin-top: -52rem;
  font-size: 8.4rem;
  opacity: 0.5;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-7rem);
  }

  80% {
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container.contact {
  height: 95vh;
  background-color: #221e3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.contact a {
  position: relative;
  display: inline-block;
  padding: 1.5rem 3rem;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-decoration: none;
  font-size: 2.4rem;
  overflow: hidden;
  transition: 0.2s;
  margin-top: 62rem;
  margin-left: -34rem;
}

.container.contact a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 1rem #2196f3, 0 0 4rem #2196f3, 0 0 8rem #2196f3;
  transition-delay: 0.65s;
}

.container.contact a span {
  position: absolute;
}

.container.contact a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.container.contact a:hover span:nth-child(1) {
  left: 100%;
  transition: 0.5s;
}

.container.contact a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.container.contact a:hover span:nth-child(3) {
  right: 100%;
  transition: 0.6s;
  transition-delay: 0.25s;
}

.container.contact a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.container.contact a:hover span:nth-child(2) {
  top: 100%;
  transition: 0.4s;
  transition-delay: 0.15s;
}

.container.contact a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 0.2rem;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

.container.contact a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.4s;
  transition-delay: 0.54s;
}

.container.contact form {
  position: relative;
  width: 50rem;
  height: 70rem;
  margin-left: -14rem;
  background-color: #221e3f;
  border-radius: 10px;
  box-shadow: -5px -5px 10px #2d2758cb, 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.container.contact h4 {
  color: gray;
  font-weight: 700;
  font-size: 2.7rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 3rem;
}

.container.contact form .in {
  margin-bottom: 2rem;
  margin-left: 8rem;
  width: 35rem;
  height: 6rem;
  font-size: 2.4rem;
  background-color: #221e3f;
  border: none;
  box-shadow: inset -5px -5px 10px #2d2758cb, 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.container.contact textarea {
  resize: none;
  height: 32rem;
  width: 35rem;
  margin-left: 8rem;
  margin-bottom: -2rem;
  font-size: 2.2rem;
  border: none;
  background-color: #221e3f;
  box-shadow: inset -5px -5px 10px #2d2758cb, 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.container .socials {
  position: absolute;
  margin-top: -1rem;
  margin-left: 1rem;
}

.container .socials a i {
  color: rgb(66, 66, 66);
  text-decoration: none;
  color: #2196f3;
  font-size: 2.5rem;
  margin-left: 1.2rem;
}
.container .socials a i:hover {
  color: gray;
  background: #333330;
}

.container.footer {
  font-size: 2rem;
  background: #221e3f;
}

.container.footer footer {
  margin-left: 45%;
  color: gray;
}

@media (orientation: portrait) and (min-width: 360px) {
  html {
    font-size: 32.5%;
  }
  .photo__container {
    width: 25em;
    height: 25em;
    left: 50em;
    top: 60em;
  }
  .photo__container img {
    width: 24em;
    height: 24em;
}

@media (orientation: portrait) and (min-width: 410px) {
  html {
    font-size: 32.5%;
  }
  .photo__container {
    width: 25em;
    height: 25em;
    left: 50em;
    top: 60em;
  }
  .photo__container img {
    width: 24em;
    height: 24em;
}
}

@media (orientation: portrait) and (min-width: 768px) {
  html {
    font-size: 32.5%;
  }
}

/* 
@media (orientation: landscape) {
	html {
		font-size: 32.5%;
	}
} */
@media (orientation: landscape) and (min-width: 640px) {
  html {
    font-size: 42.5%;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  html {
    font-size: 52.5%;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  html {
    font-size: 55.5%;
  }
}

@media (orientation: landscape) and (min-width: 1600px) {
  html {
    font-size: 62.5%;
  }

  .nav__bar_contain {
    display: none;
  }
}
